DATABASE_URL="REPLACE ME WITH THE REAL database URL"
GOOGLE_CLIENT_ID="create project credentials in google API and Services"
GOOGLE_CLIENT_SECRET="create project credentials in google API and Services"
NEXTAUTH_SECRET="you_secret_string"
NEXT_PUBLIC_GET_STREAM_API_KEY="you_secret_string"
GET_STREAM_SECRET_KEY="your_secret_key"
NEXTAUTH_URL="local"